* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#navbar {
  margin-bottom: 50px;
  width: 100%;
}

#name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;

}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 450px;
  height: 450px;

}

#Title-block {
  color: red;
  margin-bottom: 60px;
  margin-top: 25px;
  font-size: 25px;
}

.sq {
  border: 3px black solid;
  display: flex;
  height: 150px;
  width: 150px;
}


#sq1 {
  border-top: none;
  border-left: none;
}

#sq2 {
  border-top: none;
}

#sq3 {
  border-top: none;
  border-right: none;
}

#sq4 {
  border-left: none;
}

#sq6 {
  border-right: none;
}

#sq7 {
  border-bottom: none;
  border-left: none;
}

#sq8 {
  border-bottom: none;
}

#sq9 {
  border-right: none;
  border-bottom: none;
}


.sq_div {
  height: 120px;
  width: 120px;
  position: relative;

}


.sq img {

  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 15px;

}



#info-box {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}